apiVersion: apps/v1
kind: Deployment
metadata:
  name: register-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: register-app
  template:
    metadata:
      labels:
        app: register-app
    spec:
      containers:
        - name: register-app
          image: phamcuong281195/a103:1.0.0-14
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          command: /a103.sh
          ports:
            - containerPort: 8000
